html {
  height: 100%;
  margin: 0;
  background-image: url(https://cdn.hipwallpaper.com/i/92/33/q2LRKO.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto;
  
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  display: flex;
  flex-direction: column;

}

h1 {
  font-size: 72px;
  text-align: center;
  font-family: 'Cinzel', serif;
  color: white;
  text-shadow: 1.5px 2.5px 5px purple;
  border-bottom: 10px solid black;
  background-color: darkslategrey;
  padding: -30px;
  margin-bottom: -30px;

}

div.searchCont {
  padding-top: 30px;
}

#infoContainer {
  
  width: 700px;
  display: flex;
  justify-content: center;
  border: 1px transparent orange;
  margin: auto;
  height: auto;
  margin-top: 50px; 
  position: relative;
  
}

p {
  text-align: center;
  text-decoration: solid;
  color: white;
  font-size: 24px;
  font-family: 'Cinzel', serif;
}

#infotron {
  text-align: center;
  color: white;
  text-indent: 1.5rem;  
  font-size: 32px;
  font-family: 'Marcellus SC', serif;
  background-color: darkslategrey;
  opacity: 0.9;
  border: 1px solid white;
  height: 400px;
}


a.enterSite {
  background-color: darkslategrey;
  width: auto;
  height: 60px;
  padding: 30px;
  font-size: 32px;
  font-family: 'Cinzel', serif;
  border: 1px solid white;
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
  text-decoration: none;
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.9;
}


form {
  background-color:  rgba(0, 0, 0, 0.534);
}

h4, h5 {
  text-align: center;
    font-weight: bold;
    color:  rgba(0, 0, 0, 0.534);
}

.menuCont {
  width: fit-content;
}

a {
  color: white;
  text-shadow: 1px 1.5px 3px purple;
  text-decoration: none;
}

div.menuBtns {
  color: white;
  text-shadow: 1px 1.5px 3px purple;
  position: fixed;
  bottom: 60px;
  text-align: center;
  margin-bottom: -11px;
  font-size: 36px;
  font-family: 'Cinzel', serif;
  justify-content: space-evenly;
  display: inline-flex;
  width: 100%;
  background-color:  rgba(0, 0, 0, 0.534);

}

.menuBtns p {
padding: 5px;
}

.pbtn {
  font-size: 22px;
}

#stickyfooter {
 position: fixed;
 padding: 10px 10px 0px 10px;
 bottom: 0;
 width: 100%;
 /* height of footer */
 height: 40px;
 background-color: gray;
 text-align: center;
 font-weight: 900;
 border-top: 5px solid purple
}

@media screen and (max-width: 768px) {
    body {
   background-color: #ffffff;
    }
  
    .wrapper {
      
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
}
  
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

@media screen and (max-width: 400px) {
    body {
   background-color: #ffffff;
    }
  
    .wrapper {
      
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
}
  
@media screen and (max-width: 992px) {
    body {
        background-color: #ffffff;
      
    }
  
    .wrapper {
      
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
}